* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sawarabi Mincho", serif;
    background-color: #053A34;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid #000000;
}

img {
    max-width: 100%;
    height: auto;
}

#aberturamenu {
    display: none;
}

header {
    background-color: #053A34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    padding: 10px 40px;
    font-family: "Sawarabi Mincho", serif;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 150px;
}

nav a {
    text-decoration: dashed;
    color: #DDA15E;
    font-size: 22px;
}

a.ativo {
    color: #FEFAE0;
    text-decoration: underline #DDA15E;
}

nav a:hover {
    color: #FEFAE0;
    text-decoration: underline #DDA15E;

}

.logo {
    height: 100px;
    margin-top: 10px;
    margin-left: 15px;
}

#subtopo {
    background-image: url(imagens/imgfundo.png);
    width: 100%;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.container {
    position: relative;
    margin-bottom: 5%;
    margin-left: 5%;
}

.tituloprincipal {
    color: #ffffff;
    font-size: 60px;
}

.subtituloprincipal {
    color: #ffffff;
    font-size: 40px;
}

.meio {
    margin-top: 40px;
    width: 100%;
    min-height: 853px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#imagem5 {
    justify-self: end;
}

.simbolo {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    position: absolute;
}

.botao {
    height: 99px;
    width: 300px;
    background-color: #DDA15E;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botao>a {
    font-size: 55px;
    color: #ffffff;
    text-decoration: none;
}

#sobre {
    grid-column: 2/3;
    display: flex;
    justify-self: center;
    font-size: 40px;
    color: #CE0000;
    margin-top: 50px;
}

.linha-sobre {
    width: 536px;
    display: flex;
    justify-self: center;
}

hr {
    background-color: #CE0000;
    height: 1px;
    border: none;
}

.texto1 {
    text-align: center;
    margin-top: 25px;
    color: #ffffff;
    font-size: 25px;
}

.sabermais {
    margin-top: 10px;
    height: 55px;
    width: 268px;
    background-color: #DDA15E;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;

}

.sabermais>a {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

.chamativo {
    margin-top: 100px;
    display: flex;
    justify-self: center;


}

.logo2 {
    margin-top: 200px;
    display: flex;
    justify-self: center;
}

.funcionamento {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#hora {
    margin-top: 50px;
    font-size: 30px;
    color: #CE0000;
    display: flex;
    justify-self: center;
}

.horario1 {
    margin-top: 35px;
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
    color: #ffffff;
}

.horario2 {
    margin-top: 35px;
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
    grid-column: 2/3;
}

.linha-hora {
    width: 4px;
    height: 175px;
    background-color: #CE0000;
    border: none;
    justify-self: center;
    align-self: center;
    position: absolute;
}

#contato {
    margin-top: 70px;
    text-align: center;
    color: #CE0000;
    font-size: 30px;
}

#num {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}


/*Cardápio*/

.titulo {
    font-size: 80px;
    color: #CE0000;
    text-align: center;
}

.logoclara {
    display: block;
    margin: 50px auto;
}

.divisao {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subtitulo {
    margin-top: 100px;
    font-size: 50px;
    color: #DDA15E;
    text-align: center;
    grid-column: 1/3;
}

.linha {
    width: 1052px;
    height: 4px;
    background-color: #DDA15E;
    margin: 0 auto;
    border: none;
    grid-column: 1/3;
}

.tex2 {
    margin-top: 200px;
    margin-left: 50px;
    color: #CE0000;
    font-size: 35px;
}

.tex {
    margin-top: 30px;
    margin-left: 50px;
    color: #CE0000;
    font-size: 35px;
}

.itens {
    margin-top: 50px;
    margin-left: 25px;
    color: #283618;
    font-size: 25px;
    grid-column: 1/2;
}

.retangulos {
    grid-column: 2/3;
}

.voltar {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 55px;
    width: 268px;
    background-color: #DDA15E;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    font-family: "Jaini Purva", system-ui;
}

.voltar>a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

/*Sobre Nós*/

.somos {
    background-color: #283618;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    text-align: center;
    grid-column: 1/2;
    color: #DDA15E;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.texto-somos {
    font-size: 25px;
    color: #ffffff;
    margin-left: 50px;
    grid-column: 1/2;
    text-indent: 30px;
}

#local {
    grid-column: 2/3;
    margin-bottom: 20px;
}

.agrupar {
    width: 100%;
}

/*Formulário*/
input:focus, textarea:focus {
    border-color:#283618; 
    outline: none;
}

input, textarea {
    border: 2px solid #DDA15E;
    border-radius: 5px;
    box-sizing: border-box;
}


#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
}

#formulario>h2 {
    color:#DDA15E;
    font-size: 40px;
    margin-bottom: 20px;
}   

form {
    background-color: #FEFAE0;
    width: 50%;
    padding: 20px; 
    display: flex;         
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 30px;
    color:#CE0000;
}

.campo {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    box-sizing: border-box;
}   

#mensagem {
    width: 100%;
}   

#nome, #email, #telefone {
    width: 50%;
    font-size: 12px;
}

#enviar {
    width: 30%;
    height: auto;
    padding: 10px; 
    background-color: #DDA15E;
    color:#FFFFFF;
    font-size: 25px;
    border:none;
    margin-bottom: 20px;
    cursor: pointer;
}
@media screen and (max-width:1440px) {
    body {
        border: none;
    }
}

@media screen and (max-width:1025px) {
#topo {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #menu > ul {
        display: flex;
        flex-direction: row;
        height: auto;
        overflow: visible;
        gap: 50px;
        margin: 0 auto; /* Centraliza a ul dentro da nav */
        
    }

    #menu > ul > li {
        width: auto;
        min-width: auto; /* Deixa os itens se ajustarem ao conteúdo */
    }
    #imagem6 {
        max-width: 100%;
        height: auto;
        margin-top: 50px;
    }

    #imagem5 {
        max-width: 100%;
        height: auto;
        margin-top: 12px;
    }
}

@media screen and (max-width:770px) {

    /*Página inicial*/

    #topo {
        flex-direction: column;
        min-height: fit-content;
        align-items: center;
        padding-bottom: 20px;
        padding: 10px 15px;
    }

    .logo {
        margin: 0px;
    }

    #menu>ul {
        display:grid ;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease;
        gap: 30px;
        flex-direction: column;
    }

    ul>li {
        min-width: 200px;
    }

    a.ativo {
        color: #DDA15E;
        text-decoration: none;
        border-radius: 20px;
        background-color: #ffffff;
    }

    nav a {
        width: 100%;
        text-decoration: dashed;
        color: #ffffff;
        font-size: 22px;
        display: block;
        padding: 10px;
    }

    #aberturamenu:checked~#menu>ul {
        height: fit-content;
        margin-top: 20px;
    }

    #menu>ul>li {
        background-color: #DDA15E;
        border-radius: 20px;
    }

    #social {
        display: none;
    }

    label {
        cursor: pointer;
    }

    #subtopo {
        align-items: center;
        justify-content: center;
    }

    .tituloprincipal {
        text-align: center;
        margin-bottom: 20px;
    }

    #imagem6 {
        max-width: 100%;
        height: auto;
        order: 1;
    }

    #imagem5 {
        display: none;
    }

    #container-sobre {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto1 {
        font-size: 20px;
    }

    .meio {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(2, 3fr);
        justify-items: center;
        max-width: 100%;
    }

    .simbolo {
        display: none;
    }

    /*Sobre nós*/
    h1 {
        font-size: 30px;
    }

    .texto-somos {
        font-size: 17px;
    }

    .logo2 {
        width: 100px;
    }

    #hora {
        font-size: 25px;
    }

    .horario1,
    .horario2 {
        font-size: 15px;
    }

    .linha-hora {
        height: 130px;
    }

    #contato {
        font-size: 25px;
    }

    #num {
        font-size: 20px;
    }

    .voltar>a {
        font-size: 20px;
    }

    .voltar {
        width: 200px;
        height: 40px;
    }

    /*Cardápio*/
    .titulo {
        font-size: 40px;
    }

    .subtitulo {
        font-size: 30px;
        grid-column: 1/3;
    }

    .logoclara {
        width: 150px;
    }

    .tex2 {
        font-size: 30px;
        grid-column: 1/3;
    }

    .tex {
        grid-column: 1/3;
        font-size: 25px;

    }

    .itens {
        font-size: 18px;
    }

    .retangulos {
        width: 70%;
        align-self: center;
    }

    .linha {
        width: 90%;
    }

    .logoclara {
        width: 120px;
    }

}

@media screen and (max-width:430px) {
    #menu>ul{
        display: flex;
    }
    #subtopo {
        background-image: url(imagens/image\ 15.png);
        min-height: 300px;
    }


    .container {
        margin-bottom: 10%;
        margin-left: 2%;
        text-align: center;
    }

    .tituloprincipal {
        font-size: 40px;
    }

    .subtituloprincipal {
        font-size: 25px;
    }

    #imagem6 {
        max-width: 90%;
    }

    .botao {
        width: 200px;
        height: 60px;
    }

    .botao>a {
        font-size: 30px;
    }

    .sabermais {
        width: 200px;
        height: 45px;
    }

    .sabermais>a {
        font-size: 20px;
    }

    .linha-sobre {
        width: 300px;
    }

    .texto1 {
        font-size: 18px;
    }

    .logo2 {
        margin-top: 70px;
    }

    .linha-hora {
        height: 170px;
    }

    #num {
        font-size: 18px;
    }

    #contato {
        font-size: 20px;
    }

    /*Sobre Nós*/

    h1 {
        font-size: 25px;
        margin: 40px 0 20px 10px;
    }

    .texto-somos {
        font-size: 11px;
        margin-left: 3px;
    }

    /*Cardápio*/
    .titulo {
        font-size: 30px;
    }
    .divisao{
        align-items: center;
    }
    .subtitulo {
        font-size: 25px;
        margin-top: 50px;
    }

    .logoclara {
        width: 100px;
    }

    .tex2 {
        font-size: 20px;
        text-align: center;
        margin-left: 0;
        margin-top: 100px;
    }

    .tex {
        font-size: 20px;
        grid-column: 1/3;
        text-align: center;
        margin-left: 0;
        border-bottom: #CE0000 3px solid;
        
    }

    .retangulos {
        grid-column: 1/3;
        max-width: 50%;
        margin-left: 25%;
        margin-top: 10%;

    }

    .itens {
        font-size: 15px;
        margin-left: 25%;
        grid-column: 1/3;
    }
}